In [2]:
import pandas as pd

In [3]:
label_path = '../data/cs231Nproject/well_summary_A1_e0891BSA_all.csv'

In [5]:
label = pd.read_csv(label_path)

In [7]:
label.head(5)

   well id  day  median pixel intensity  mw_area shape  hyst1 area  hyst2 area
0        0    0                   125.0           7830         512         418
1        1    0                   125.0           8265        3044        3008
2        2    0                   127.0           8280          30           0
3        3    0                   128.0           8096         121           0
4        4    0                   128.0           8544          82           0

In [10]:
label.columns

Index(['well id', 'day', 'median pixel intensity', 'mw_area shape',
       'hyst1 area', 'hyst2 area'],
      dtype='object')

In [9]:
label.sort_values(by=['well id','day'])

,well id,day,median pixel intensity,mw_area shape,hyst1 area,hyst2 area
0,0,0,125.0,7830,512,418
4800,0,1,141.0,7990,434,234
9600,0,2,139.0,8148,265,165
14400,0,3,138.0,7626,306,218
19200,0,4,132.0,6450,444,307
24000,0,5,133.0,7387,237,154
28800,0,6,135.0,6720,248,139
33600,0,7,142.0,6966,374,217
38400,0,8,132.0,6557,174,0
43200,0,9,131.0,8091,445,232
48000,0,10,134.0,6804,258,142
52800,0,11,140.0,7310,224,0
57600,0,12,136.0,6804,733,600
62400,0,13,141.0,7216,1317,1095
1,1,0,125.0,8265,3044,3008
4801,1,1,142.0,7482,39,0
9601,1,2,140.0,7476,10,0
14401,1,3,138.0,7138,28,0
19201,1,4,132.0,6240,16,0
24001,1,5,134.0,6806,2,0
28801,1,6,136.0,7224,20,0
33601,1,7,142.0,7482,28,0
38401,1,8,132.0,8280,2256,1976
43201,1,9,131.0,8742,2304,1886
48001,1,10,133.0,9408,3115,2645
52801,1,11,138.0,12096,4399,3577
57601,1,12,132.0,13338,6096,5156
62401,1,13,140.0,7482,2125,1995
2,2,0,127.0,8280,30,0
4802,2,1,143.0,7395,26,0
...,...,...,...,...,...,...
62397,4797,12,123.0,8464,311,88
67197,4797,13,128.0,8366,138,70
4798,4798,0,124.0,33124,0,0
9598,4798,1,121.0,8464,132,66
14398,4798,2,118.0,7654,30,0
19198,4798,3,122.0,9310,174,146
23998,4798,4,122.0,7832,49,0
28798,4798,5,123.0,9400,220,175
33598,4798,6,128.0,9312,156,87
38398,4798,7,132.0,9312,154,107
43198,4798,8,123.0,33124,9430,7825
47998,4798,9,121.0,7832,46,0
52798,4798,10,123.0,8370,31,0
57598,4798,11,126.0,8188,53,0
62398,4798,12,124.0,8280,29,0
67198,4798,13,130.0,8463,59,0
4799,4799,0,124.0,33124,0,0
9599,4799,1,121.0,7832,136,79
14399,4799,2,118.0,7569,55,0
19199,4799,3,122.0,8277,92,0
23999,4799,4,122.0,7920,93,0
28799,4799,5,123.0,8463,83,0
33599,4799,6,128.0,8184,72,0
38399,4799,7,132.0,8184,89,0
43199,4799,8,124.0,8550,84,0
47999,4799,9,121.0,8010,102,0
52799,4799,10,123.0,8370,27,0
57599,4799,11,125.0,8463,37,0
62399,4799,12,123.0,8280,23,0
67199,4799,13,130.0,8460,42,0